<ion-header>
    <ion-toolbar color="success">
        <ion-title>My Pickup Calls</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-pickup-call-card
            status="hold"
            updatedAt="25/04/2023 16:29"
            createdAt="24/04/2023"
            notes="we have two bags that are full, one with plastic and the other with glasses"
    />

    <app-pickup-call-card
            status="processing"
            updatedAt="25/04/2023 18:29"
            createdAt="24/04/2023"
            notes="we have two bags that are full"
    />

    <app-pickup-call-card
            status="finished"
            updatedAt="25/04/2023 18:29"
            createdAt="24/04/2023"
            notes="we have two bags that are full"
    >
        <ion-item lines="none" footer>
            <ion-icon name="trophy" slot="start" color="success"></ion-icon>
            <ion-label color="success">$15,000</ion-label>
        </ion-item>
    </app-pickup-call-card>
</ion-content>
